@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Lilita+One&family=Patua+One&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo";
}

:root {
  --loginTop:-45rem;
  --sidebarPadding:0.5rem;
  --bannerIconHeight:240px;
  --launcherWidth:90vw;
  --launcherBorderWidth:1068px;
  --backgroundColor:#2c2e32c7;
  --sidebarColor:#f1c5f2;
  --newsColumn:27vw;
  --newsRow:29vh;
  --bannerHeight:520px;
  --newsHeight:230px;
  --friendColumn:330px;
  --friendRow:40px;
  --friendHeight:230px;
  --homeLaunchButtonColor:#803CA9;
  --launchmodSelector:#275EFE;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #5e5e5e;
  transition: 1s;
  background: linear-gradient(to right, #e55d87, #5fc3e4);
}

/* .hero {
  border-radius: 10px;
  /* height: 645px; */
/* background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb); */
/* background: linear-gradient(0.25turn, black, #1c1c1c, #292929); */
/* background: linear-gradient(to right, #536976, #292e49); */
/* background: linear-gradient(to right, #86fde8, #acb6e5); */
/* background: linear-gradient(to right, #00467f, #a5cc82); */

/* background:linear-gradient(to right, #cc2b5e, #753a88); */
/* width: 1175px; */
/* min-height: 97vh; */
/* margin: 0.5rem; */
/*overflow: hidden;*/

.navbar {
  display: flex;

  /* background-color: #766060; */
  align-items: center;
  margin: 0.7rem;
  padding: 0.3rem;
  flex-direction: row;
  gap: 0.8rem;
  margin-bottom: auto;
}

.quickplay {
  display: inline-flex;
  background-color: var(--backgroundColor);

  /* padding: 0.4rem; */
  padding-left: 0.4rem;
  padding-right: 2.5rem;
  border-radius: 8px;
  width: 675px;
  height: 50px;

  div {
    display: flex;
    align-items: center;

    /* width: 662; */
  }
}

.server-icon-list {
  img {
    /* display: flex;
    align-items: center; */
    width: 35px;
    height: auto;
    cursor: pointer;

    &:hover {
      /* width: 40px; */
      transform: scale(1.15);
      height: auto;
      transition: all .1s ease-in-out;
      cursor: pointer;
    }
  }

  gap: 2.1rem;
}

.quickplay div h1 {
  padding-left: 0.5rem;
  font-size: 12px;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;

  /* background-color: var(--backgroundColor); */
  padding: 0.3rem;
  border-radius: 8px;

  img {
    margin-top: 1rem;
    margin-bottom: 1rem;

    /* display: flex;
    align-items: center; */
    filter: brightness(1);
    margin-left: 13px;
    cursor: pointer;
    width: 35px;
    height: auto;
    transition: all .4s ease-in-out;

    &:hover {
      transform: scale(1.1);
      transition: all .1s ease-in-out;
    }
  }
}

#viper {
  &:hover {
    width: 55px;
    height: auto;
    transition: all .1s ease-in-out;
  }

  width: 50px;
}

#cc {
  height: 41px;
  align-items: baseline;
}

/* #cc:hover{
  height: 83px;
  transition: all .5s ease-in-out;
} */
/* 
#ccc:hover ~ #cc{
  height: 83px;
  transition: all .5s ease-in-out;
}  */

.play {
  width: 90vw;
  display: flex;
  background-color: #404040;
  flex-direction: column;

  /* background-color: var(--backgroundColor); */

  border-radius: 8px;
}

.launcher {
  padding: 1rem;
  padding-left: var(--sidebarPadding);
}

.banner {
  background-image: url('../images/Launcher/banner.png');
  background-repeat: no-repeat;
  width: var(--launcherWidth);
  height: var(--bannerHeight);
  border-radius: 8px;
  background-size: cover;
  margin: 2px;
  border: 1px;
  transition: all .1s ease-in-out;
}

#launch {
  background: linear-gradient(#b3ccb8a6, #665ed54d);
    border: 5px;
    border-bottom: 0;
    border-color: #771AD0d4;
    margin: 22px;
    border-style: solid;
    border-radius: 6px;
    text-align: center;
    width: 71vw;
    max-width: 434px;
    height: 190px;
    position: absolute;
    padding: 0.5rem;
    color: white;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.clientName {
  /*background: linear-gradient(#4ae26f, #42be74); */
  /* border: 3px; */
  /* border-color: #76e48e; */
  margin: 22px;

  /* border-style: solid; */
  border-radius: 10px;
  text-align: center;

  /* width: 290px; */
  height: 70px;
  position: absolute;
  padding: 0.5rem;
  color: #b572ff;

  /* margin-bottom: auto; */
  margin-top: 6rem;
  font-family: 'ADLaM Display', cursive;
  font-size: 4.2rem;

  /* font-family: 'Lilita One', cursive; */
  /* font-family: 'Patua One', cursive; */
  /* font-family: 'Righteous', cursive;  */
}

#launch-text {
  font-size: 1.6rem;
}

#launch img {
  top: -0.5rem;
  position: relative;
}

.navbtn, .closebtn {
  background-color: var(--backgroundColor);
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.navbtn:hover {
  background-color: #4c4d52;
}

.closebtn:hover {
  background-color: #da3436;
}

.news div {
  display: flex;
}

.news-container {
  display: grid;
  grid-template-rows: var(--newsRow) var(--newsRow) var(--newsRow) var(--newsRow) var(--newsRow);
  padding-top: 1rem;
  grid-template-columns: var(--newsColumn) var(--newsColumn) var(--newsColumn);
  gap: 20px 30px;
  height: var(--newsHeight);
  overflow: scroll;
}

.news-item {
  width: var(--newsColumn);
  height: var(--newsRows);
  background-color: #27282c;
  border-radius: 10px;
  border-style: solid;
  cursor: pointer;
  margin: 2px;
  border-width: 4px;
  border-color: #1a1a1a;
  &:hover{
    border-color: #252543;
    border-width: 5px;
    scale: 101%;
  }
  &:active{
    border-color: #5c3a93;
    border-width: 5px;
  }
}

.friend-container {
  display: grid;
  grid-template-rows: var(--friendRow) var(--friendRow) var(--friendRow) var(--friendRow) var(--friendRow) var(--friendRow) var(--friendRow);
  grid-template-columns: var(--friendColumn);
  gap: 20px 20px;
  height: var(--friendHeight);
  overflow: scroll;
  align-items: center;
}

.friend-item {
  margin: 1px;
  width: var(--friendColumn);
  height: var(--friendRow);
  display: flex;

  * {
    padding: 0px 1px 5px 4px;
  }
}

#friend_det {
  float: left;
  display: flex;
  flex-direction: column;

  /* justify-content: start; */
  text-align: initial;
}

#friend_profPic {
  width: 40px;
  height: 40px;
  background: linear-gradient(#303136, #3b3d44);
  border-radius: 8px;
}

.button-5 {
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);

  /* position: relative; */
  position: absolute;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;

  &:hover, &:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  &:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;

    /* transform: translateY(-50%); */
  }
}

/* .button-5:hover {
  /* transform: translateY(-50%-1px);
} */

.banner2 {
  background-image: url('../assets/Launcher/banner2.png');
}

.clientMenu {
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.versionNav {
  color: #7925de;
  position: relative;
  font-size: 6px;
  left: -23px;
}

@media (width < 940px) {
  #ccc {
    display: none;
  }
}

#loadingDIV {
  animation: opacityFade 0.5s forwards;
}

@keyframes opacityFade {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.versgrad{
  background: linear-gradient(to right, #4a447bcf, #59558ec9, #5b5b75c2);
}

.version-hover{
  background-size: 65vh;
  background-position: center;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s background-size;
  &:hover{
    background-size: 67vh;
    h1{
      font-size:3.3rem;
      
    }
  }
  h1{
    font-size:3rem;
    transition: 0.3s font-size;
    color: #f9e9ff;
  }
  
}

.sidebarTooltip{
  transition: 1s;
    background-color: #2c2e32c7;
    width: 70px;
    height: 26px;
    border-radius: 8px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}



/*
  * Custom Buttons
  *
*/

/*
Credits: https://codepen.io/hilwat

*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttons {
  // margin-top: 50px;
  text-align: center;
  border-radius:30px;
}

$cyan: var(--homeLaunchButtonColor);
$dark: #FFFFFF;
$borderW: 2px;

.blob-btn {
  $numOfBlobs: 4;
  
  z-index: 1;
  position: relative;
  padding: 15px 40px;
  // margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $cyan;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  transition: color 0.5s;
  border-radius:30px;
  
  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: $borderW solid $cyan;
    border-radius:30px;
  }
  &:active{
    scale: 110%;
   
  }
  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW*1.5;
    top: $borderW*1.5;
    width: 100%;
    height: 100%;

    transition: all 0.3s 0.2s;
    border-radius:30px;
  }
  
  &:hover {
    color: $dark;
    border-radius:30px;
    
    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius:30px;
    }
  }
  
  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius:30px;
    background:#ffffff;
  }
  
  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  
  &__blob {
    position: absolute;
    top: $borderW;
    width: calc(100% / $numOfBlobs);
    height: 100%;
    background: $cyan;
    border-radius: 100%;
    transform: translate3d(0,150%,0) scale(1.7);
    transition: transform 0.45s;
    
    @supports(filter: url('#goo')) {
      transform: translate3d(0,150%,0) scale(1.4);
    }
    
    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * (120% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }
    
    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);
      
      @supports(filter: url('#goo')) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }
  transition: scale 200ms;
  appearance: none;
}

// Custom Check box



  @supports (-webkit-appearance: none) or (-moz-appearance: none) {

    .checkbox-wrapper-14 input[type=checkbox] {
      
      --active: var(--launchmodSelector);
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkbox-wrapper-14 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkbox-wrapper-14 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkbox-wrapper-14 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkbox-wrapper-14 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkbox-wrapper-14 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkbox-wrapper-14 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkbox-wrapper-14 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper-14 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkbox-wrapper-14 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkbox-wrapper-14 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkbox-wrapper-14 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkbox-wrapper-14 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .checkbox-wrapper-14 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper-14 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
    .checkbox-wrapper-14 input[type=checkbox].switch {
      width: 38px;
      border-radius: 11px;
      height:23px;
    }
    .checkbox-wrapper-14 input[type=checkbox].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    .checkbox-wrapper-14 input[type=checkbox].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    .checkbox-wrapper-14 input[type=checkbox].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }
  }

  .checkbox-wrapper-14 * {
    box-sizing: inherit;
  }
  .checkbox-wrapper-14 *:before,
  .checkbox-wrapper-14 *:after {
    box-sizing: inherit;
  }



  .optionalVersion{
    background-image: linear-gradient(rgba(103, 103, 103, 0.4), rgba(183, 183, 183, 0.5));
    background-color: #abf1fe;
    transition: 0.2s background-size;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
    margin: 2px;
    padding: 0.5rem;
    width: 7vw;
    height: 6vh;
    border-width: 4px;
    display: flex;
    justify-content: center;
    border-color: #1a1a1a;
    color: aliceblue;
    h1{
      font-size:1rem;
    }
  }

  .optionalVersionSelected{
    background-image: linear-gradient(rgba(103, 103, 103, 0.4), rgba(183, 183, 183, 0.5));
    transition: 0.2s background-size;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
    margin: 2px;
    padding: 0.5rem;
    width: 7vw;
    height: 6vh;
    border-width: 4px;
    display: flex;
    justify-content: center;
    border-color: #1a1a1a;
    h1{
      font-size:1rem;
    }
    background-color: #3bc6e0;
    color: #d0d0d0;
    filter: drop-shadow(1px 2px 3px black) brightness(1.2);
  }